@media screen and (max-width: 479px) {
/* start of medium tablet styles */
header{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    background: #FDE200;
    background: -moz-linear-gradient(left, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    background: -webkit-linear-gradient(left, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    background: linear-gradient(to right, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    display: block;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    padding: 0.5rem 2rem;
}

.header_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}
.logo-png{
    width: 60%;
    margin-top: 0.8rem;
    margin-left: 2rem;
    

}

.menu-btn{
    width: 6rem;
    height: 3rem;
    background-color: #013781;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 0.5em;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer; 
    margin-top: 0.3rem;
}
.menu-btn:hover{
    background-color: #3A5F7B;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdownContent{
    box-sizing: border-box;
    width: 35vw;
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 3rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    right: 0.5rem;
    
}
.link{
    font-size: 0.9em;
    color: black;
    padding: 0.8vw;
    text-decoration: none;
    display: block;
    margin-left: -3vw;
}

.link:hover {
    transform: none;
    font-weight: normal;
    background-color: #ddd;
}

.show {
    display:block;
}

.home1{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 2rem;
    
}

.text1{
    width: 100%;
    padding: 0;
    margin-right: 0;
    align-items: center;
    padding: 1rem;
}
h1{
    font-size: 2rem;
    margin: 0.5rem;
}
.text1 p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0.5rem;
    margin-right:0 ;
    margin-left: 0;
}
.homepic1{
    width: 100%;
}
.emprestimos{
    box-sizing: border-box;
    background: #FDE200;
    background: -moz-linear-gradient(-45deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
    background: -webkit-linear-gradient(-45deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
    background: linear-gradient(135deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
    width: 100%;
    display: flex;
    align-items: center;
}
.emprestimos_texto{
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
}
.emprestimos h1{
    color: #144378;
}
.emprestimos p{
    font-size: 3vw;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    text-align: center;
    transform: translate(0rem, 1rem);
    line-height: 1.5rem;
    
}
.tipo_emprestimo{
    font-weight: bold;
    line-height: 10vw;
    
}
.whatsapp-1{
    width: 30%;
    transform: translate(35vw, 0vw);
}
.emprestimos_pic{
    box-sizing: border-box;
    width: 0%;
    display: none;
}
.emprestimos_png{
    max-width: 0%;
    align-self: center;
    display: none;

}

    }



