@media screen and (max-width: 479px) {
/* start of medium tablet styles */
header{
    width: 100%;
    height: auto;
    background: #FDE200;
    background: -moz-linear-gradient(left, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    background: -webkit-linear-gradient(left, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    background: linear-gradient(to right, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}

.header_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}
.logo-png{
    display: none;
}

.menu-btn{
    width: 6rem;
    height: 4rem;
    background-color: #013781;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 0.5em;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer; 
}
.menu-btn:hover{
    background-color: #3A5F7B;
}
.menu-icon{
    display: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: snow;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    right: 0.5rem;
    
}
.link{
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}

.link:hover {
    transform: none;
    font-weight: normal;
    background-color: #ddd;
}

.show {
    display:block;
}

.home1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text1{
    width: 100%;
}
h1{
    font-size: 3rem;
}
.text1 p{
    font-size: 1rem;
}
    }


