@media (min-width:480px) and (max-width: 767px) {
    header{
        display: flex;
        background: #013781;
        background: -moz-linear-gradient(left, #013781 0%, #8B943B 78%, #FDE200 100%);
        background: -webkit-linear-gradient(left, #013781 0%, #8B943B 78%, #FDE200 100%);
        background: linear-gradient(to right, #013781 0%, #8B943B 78%, #FDE200 100%);
    }
    
    .logo-png{
        display: none; 

    }
    .links{
        box-sizing: border-box;
        max-width: 100%;
        width: auto;
        padding: 1em;
    }
    .dropdownContent{
        box-sizing: border-box;
        justify-self: center;
        padding: 0.5rem;
    }
    .link{
        font-size: 2.4vw;
        max-width: 50%;
        width: auto;
        margin: 0.25rem;
        align-self: center;
    }
    .home1{
        box-sizing: border-box;
    }
    h1{
        color: antiquewhite;
        text-transform: uppercase;
        font-family: 'Rowdies', cursive; 
        font-size: 4.5vw;
        text-align: center;
        margin: 0.5rem;
        margin-left: 1rem;
    }
    .text1{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding: 1rem;
    }
    .text1 p{
        font-size: 2.5vw;
        color: antiquewhite;
        text-transform: uppercase;
        text-align: left; 
        font-family: 'Inter', sans-serif;
        line-height: 1.5rem;
        margin: 0.5rem;
        margin-left: 1rem; 
    }
    .homepic1{
        width: 60%;
    }
    .pic1{
        width: 50vw;
        max-width: 100%;
        flex-shrink: 2;
    }
    .footer-grid{
    
        background: #144378;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }
    .footer-grid p{
        font-size: 2vw;
        color: antiquewhite;
        font-family: 'Roboto', sans-serif;
        /* font-weight: bold; */
        text-transform: uppercase;
        /* line-height: 0.3rem; */
        margin: 0.3rem;
    }
    .ig-logo{
       
        transform: scale(0.6);
        transform: translate(0rem, 0.3rem); 
    }
    .ig-logo2{
        display: none;
    }
    /* .ig-line{
        display: none;
    }
    */
    .emprestimos{
        box-sizing: border-box;
        background: #FDE200;
        background: -moz-linear-gradient(-45deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
        background: -webkit-linear-gradient(-45deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
        background: linear-gradient(135deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
        width: 100%;
        display: flex;
        align-items: center;
    }
    .emprestimos_texto{
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        display: flex;
    }
    .emprestimos_div_texto{
        box-sizing: border-box;
        width: 60%;
        padding: 0.5rem;
    }
    .emprestimos h1{
        color: #144378;
    }
    .emprestimos p{
        font-size: 2vw;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        text-align: left;
        transform: translate(0rem, 0.5rem);
        line-height: 1.5rem;
        margin-left: 1rem;
        
    }
    .tipo_emprestimo{
        font-weight: bold;
        line-height: 10vw;
        
    }
    .emprestimos_div_pic{
        width: 40%;
    }
    .whatsapp-1{
        width: 100%;
    }
    .emprestimos_pic{
        box-sizing: border-box;
        width: 0%;
        display: none;
       
    }
    .emprestimos_png{
        max-width: 0%;
        align-self: center;
        display: none;
        
    
    }
    .consorcios{
        width: 100%;
        box-sizing: border-box;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .consorcio-texto{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }
    .consorcio-texto p{
        font-size: 2vw;
        color: antiquewhite;
        font-family: 'Inter', sans-serif;
        line-height: 1.2rem;
        margin: 0.3rem;
        margin-left: 1rem;
        }
    .consorcio-texto h1{
        margin-left: 1rem;
    }
    .zap1{
        width: 30%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .consorcio-pic{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }
    .consorcio-png{
        width: 40%;
        align-self: center;
        margin-left: 32vw;
    }
    .produtos{
        box-sizing: border-box;
        background-color: #013781;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .produtos-texto{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
    .produtos-texto p{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 3vw;
        text-align: left;
        color: antiquewhite;
        line-height: 4vw; 
        margin: 1.5vw;
    }
    .produtos-img{
        box-sizing: border-box;
        width: 100%;
        padding: 2em;
    }
    .produtos-pic{
        width: 100%;
    }
    .localizacao{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background-color: #013781;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .mapa{
        box-sizing: border-box;
        width: 50%;
        padding: 1rem;
        margin-top: 15vw;
    }
    .estados{
        box-sizing: border-box;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 4rem;
        column-count: 3;
    }
    .estados h2{
        font-size: 3vw;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        color: antiquewhite;
    }
    
    .lista-cidades{
        column-count: 2;
        column-width: 50%;
    }
    .lista-cidades p {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        color: antiquewhite;
        line-height: 3vw;
        font-size: 2vw;
} 
.contato-texto p{
    font-size: small;
  }
  .formulario-contato{
     display: flex;
     flex-direction: column;
     align-items: left;
     padding: 0.1em;
 }
 .fields{
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
     margin: 0.5em 0;
     border-radius: 1rem;
 }
 .fields label{
     color: antiquewhite;
     font-size: 3vw;
     font-weight: bold;
     text-align: left;
     }
 .form-input {
     font-size: 3vw;
     border-radius: 0.4vw;
     }
 .button-form{
     font-size: 2vw;
     padding: 0.6rem 1rem;
     align-self: center;
     margin: 1rem; 
 }
}