@media (min-width: 768px) and (max-width:1099px){
header{
    display: flex;
    background: #013781;
    background: -moz-linear-gradient(left, #013781 0%, #526D58 78%, #8B943B 100%);
    background: -webkit-linear-gradient(left, #013781 0%, #526D58 78%, #8B943B 100%);
    background: linear-gradient(to right, #013781 0%, #526D58 78%, #8B943B 100%);
}

.logo-png{
   display: none;
}
.links{
    padding: 0.2em;
}
.link{
    font-size: 2.3vw;
    margin: 0.5rem;
    transform: translate(2.7rem);
    color: bisque;
}
h1{
    font-size: 4vw;
}
.pic1{
    transform: translate(-4rem, 20vh);
}
.emprestimos{
    box-sizing: border-box;
    background: #FDE200;
    background: -moz-linear-gradient(-45deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
    background: -webkit-linear-gradient(-45deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
    background: linear-gradient(135deg, #FDE200 0%, #E1CF0F 44%, #C4BB1E 100%);
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.emprestimos_texto{
    box-sizing: border-box;
    width: 60%;
    padding: 1em;
}
.emprestimos_div_texto{
    padding: 0.5rem;
}
.emprestimos h1{
    color: #144378;
}
.emprestimos p{
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    line-height: 1.2rem;
    text-align: left;
    margin-left: 2rem;
    transform: translate(0rem, 0rem);
}
.tipo_emprestimo{
    font-weight: bold;
}
.whatsapp-1{
    width: 30%;
    transform: translate(3vw, 0vh);
}
.emprestimos_pic{
    box-sizing: border-box;
    width: 50%;
}
.emprestimos_png{
    max-width: 100%;
    align-self: center;
}
.consorcios{
    width: 100%;
    box-sizing: border-box;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.consorcio-texto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
}
.consorcio-texto p{
    font-size: 2vw;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
    line-height: 2.5vw;
    margin: 0.3rem;
    margin-left: 1rem;
    }
.consorcio-texto h1{
    margin-left: 1rem;
}
.zap1{
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.consorcio-pic{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.5em;
}
.consorcio-png{
    width: 40%;
    align-self: center;
    margin-left: 32vw;
}
.produtos{
    box-sizing: border-box;
    background-color: #013781;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produtos-texto{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.produtos-texto p{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
    text-align: left;
    color: antiquewhite;
    line-height: 2.5vw; 
    margin: 1.5vw;
}
.produtos-img{
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
}
.produtos-pic{
    width: 100%;
}
.localizacao{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #013781;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.mapa{
    box-sizing: border-box;
    width: 50%;
    padding: 1rem;
    margin-top: 15vw;
    margin-left: 5vw;
}
.estados{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    column-count: 3;
}
.estados h2{
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    color: antiquewhite;
}

.lista-cidades{
    column-count: 2;
    column-width: 50%;
}
.lista-cidades p {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
    line-height: 3vw;
    font-size: 2vw;
} 
}