@media (max-width: 991px){

    header{
        background: #013781;
        background: -moz-linear-gradient(left, #013781 0%, #3A5F7B 78%, #FDE200 100%);
        background: -webkit-linear-gradient(left, #013781 0%, #3A5F7B 78%, #FDE200 100%);
        background: linear-gradient(to right, #013781 0%, #3A5F7B 78%, #FDE200 100%);
    }
    .link{
        color: white;
    }
    .logo{
       display: none;
    }     
   /* .home1{
    display: flex;
    flex-direction: column;
    width: 100%;
   } */
   .text1{
    width: 50%;
    padding: 2rem;
   }
   .text1 h1{
    font-size: 3rem;
   }
   .text1 p{
    font-size: 1rem;
   }
   .homepic1{
    width: 50%; 
   }
   .pic1{
    width: 90%;
    transform: translate(0, 5rem);
   }
   .footer-grid p{
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin: 0.3rem;
    }
    .ig-logo{
        transform: scale(0.8);
        transform: translate(0rem, 0.3rem); 
    }
    .ig-line{
        transform: translate(0rem, -0.4rem); 
    }
}




   