@media screen and (max-width: 767px) {
    .dropdownContent{
        padding: 1em;
    }
    .link{
        font-size: 0.9rem;
    }
    h1{
        font-size: 2rem;
    }
    .text1 p{
        font-size: 0.8rem;
        line-height: 1rem;

    }
    .footer-grid {
        padding: 2em;
    }
    .footer-grid p{
        font-size: 80%;
        height: 100%;
    }
    .ig-logo{
        
        display: none;
    }
    .ig-line{
        display: none; 
    }
    .ig-logo2{
        display: flex;
        margin-top: 0.3rem;
    }
}