@media screen and (max-width: 767px) {
    
    .text1 h1{
        font-size: 2.5rem;
    }
    .text1 p{
        line-height: 1.6rem;
        margin: 0.3rem;
        /* margin-left: 2rem; */
    }

    }