header{
    width: 100%;
    height: auto;
    background: #FDE200;
    background: -moz-linear-gradient(left, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    background: -webkit-linear-gradient(left, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    background: linear-gradient(to right, #FDE200 0%, #3A5F7B 76%, #013781 100%);
    display: flex;
}
.links{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 0.2em;
}
.logo-png{
    width: 60%;
    margin-top: 0.8rem;
    margin-left: 7rem;
    margin-right: -5rem;
}
.dropdown{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.menu-btn{
    display: none;
}
.menu-icon{
    display: none;
}
.dropdownContent{ 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.link{ 
    font-size: 1.4rem; 
    align-self: center;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: antiquewhite; 
    text-transform: uppercase;
    object-fit: contain;
    margin: 0.9rem;
}
.link:hover{
    transform: scale(1.2);
    font-weight: bold;
} 
.home1{ 
    background-color: #013781;
    display: flex;
}
h1 { 
    color: antiquewhite;
    text-transform: uppercase;
    font-family: 'Rowdies', cursive; 
    font-size: 5rem;
    text-align: center;
    margin: 1rem;
}
.text1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    padding: 5rem;
}
.text1 p{
    font-size: 1.5rem;
    color: antiquewhite;
    /* text-shadow: -1px -1px 5px rgba(117,90,18,0.25); */
    text-transform: uppercase;
    text-align: left; 
    font-family: 'Inter', sans-serif;
    line-height: 2rem;
    margin: 0.7rem;
    margin-right: 2rem;
    margin-left: 4rem; 
}
.homepic1{
    width: 50%;
}
.pic1{
    width: 100%;
}
.footer-grid{
    
    background: #144378;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.footer-grid p{
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin: 0.3rem;
}
.ig-logo{
   
    transform: scale(0.8);
    transform: translate(0rem, 0.3rem); 
}
.ig-logo2{
    display: none;
}
.ig-line{
    transform: translate(0rem, -0.4rem); 
}