{% load static %}
<header>
    <section class="links">
        <a href="{% url 'index' %}"><img src="{% static 'assets/logo_piemonte.png' %}" alt="Logo Piemonte" class="logo-png"></a>
        <div class="dropdown">
            <button  onclick="menu()" class="menu-btn">MENU</button>
                <div class="dropdownContent" id="myDropdown">
                    <a href="{% url 'index' %}" class="link">home</a>
                    <a href="{% url 'emprestimos' %}" class="link">empréstimos</a>
                    <a href="{% url 'consorcios' %}" class="link">consórcios</a>
                    <a href="{% url 'produtos' %}" class="link">produtos</a>
                    <a href="{% url 'localizacao' %}" class="link">localização</a>
                    <a href="{% url 'contato' %}" class="link">contato</a>
                </div>
        </div>
    </section>
</header>