{% load static %}
<header>
    <div class="header_container">
        <section class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'assets/logo_piemonte.png' %}" alt="Logo Piemonte" class="logo-png"></a>
        </section>
    </div>
    <section class="links">
        <div class="dropdown">
            <button  onclick="menu()" class="menu-btn"><img src="{% static 'assets/menu.png' %}" alt="menu" class="menu-icon">MENU</button>
                <div class="dropdownContent" id="myDropdown">
                    <a href="{% url 'index' %}" class="link">home</a>
                    <a href="" class="link">empréstimos</a>
                    <a href="" class="link">consórcios</a>
                    <a href="" class="link">produtos</a>
                    <a href="" class="link">localização</a>
                    <a href="" class="link">contato</a>
                </div>
        </div>
    </section>
</header>