{% extends "piemonte/base.html" %}
{% load static %}
{% block content %}
<div class="consorcios">
    <section class="consorcio-pic">
        <img src="{% static 'assets/consorcios.png' %}"  class="consorcio-png" alt="">
    </section>
    <section class="consorcio-texto">
        <h1>consórcios</h1>
        <p>Nós temos as mais variadas linhas de consórcio para você que tem planos de adquirir uma casa própria,
             comprar um carro, uma moto, um smartphone, um tablet, um videogame e muito mais.</p>
        <p>Adquira seu o imóvel ou terreno sem juros! Ou quem sabe adquirir carro, moto ou caminhão com parcelas que cabem no seu bolso?</p>
        <p>E não pára por aí! Do gamer ao agro, nós temos uma linha de consórcio certa para você!</p>
        <p>Fale com um de nossos consultores!</p>
        <a href="{% url 'contato' %}"><img src="{% static 'assets/zap.png' %}" alt="" class="zap1"></a>
    </section>
</div>
{% endblock content %}