{% extends "piemonte/base.html" %}
{% load static %}
{% block content %}
<div class="produtos">
    <section class="produtos-texto">
        <h1>qualidade e confiança BB</h1>
        <p>Abertura de contas, empréstimos, titúlos de capitalização e consórcios são alguns dos produtos com qualidade banco do
            brasil que temos pra você.  </p>
        <p>A <b>Piemonte Cred</b> é operadora do Banco do Brasil. 
            Isto signifca que nosso relacionamento com você é pautado transparência, 
            confiança e solidez de um dos maiores bancos da América Latina</p>

    </section>
    <section class="produtos-img">
        <img src="{% static 'assets/prod-bg.png' %}" alt="" class="produtos-pic">
    </section>
  </div>
{% endblock content %}